{
  "presets": ["inferno-app", "flow"],
  "plugins": [
    ["babel-plugin-inferno", {"imports": true}],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": true
      }
    ]
  ]
}